<div class='navbar'>
    <div class="nav-logo">
        <img src="assets/logo.png" alt="" />
        <p>FLOPKART</p>
    </div>
    <ul class='nav-menu'>
        <li><a style='text-decoration: none' href='/'>Home</a></li>
        <li><a style='text-decoration: none' href='/featured'>Featured</a></li>
        <li><a style='text-decoration: none' href='/recommended'>Recommended</a></li>
    </ul>
    <div class="nav-login-cart">
        <a href='/login'><button>Get started</button></a>
        <a href='/cart'><img src="cart_icon.jpg" alt="" /></a>
        <div class="nav-cart-count">0</div>
    </div>
</div>
