<div class="container-box">
    <div class="nav-login-cart">
        <p>Welcome to FLOPKART, where fashion, style, and convenience come together in perfect harmony.
            Explore a world of endless possibilities, where your shopping desires meet an unmatched selection of the
            latest trends, must-have essentials, and exclusive deals.  Get ready to indulge in retail therapy, because at [Your Shopping
            Website], shopping is not just a task; it's a delightful journey.</p>
        <button routerLink="/getstarted">Get started</button>
    </div>