<div class='navbar navbar-dark bg-sucess shadow-sm'>
    <div class="nav-logo">
        <img src="assets/logo.png" alt="" >
        <p>FLOPKART</p>
    </div>
    <ul class='nav-menu'>
        <li><a style="  text-decoration: none;"  routerLink="/getstarted" (click)="onClick()">Get Started</a></li>
        <li><a style="  text-decoration: none;"  routerLink="/home" (click)="onClick()">Home</a></li>
        <li><a style="  text-decoration: none;" routerLink="/home" (click)="onClick()">Recommendation</a></li>
    </ul>
    <div class="cart">
        <a style="  text-decoration: none;"  routerLink="/cart" (click)="onClick()">
            <i style="font-size: 30px;" class="fa-solid fa-cart-shopping"></i>
        </a>
        <div class="badge bg-danger">{{totalItemNumber}}</div>
    </div>
</div>
