<ng-container *ngIf="true">
<div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>book</td>
                    <td>img...</td>
                    <td>500</td>
                    <td>2</td>
                    <td>1000</td>
                    <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</ng-container>

<ng-container *ngIf="false">
<div class="container">
    <div class="card">
        <h4 class="card-title">My cart</h4>
    </div>
    <div class="center">
        <img src="" alt="">
        <h5>Cart is empty!</h5>
        <h6>Add items to your cart and it will show up here</h6>
        <button class="btn btn-primary">Shop now</button>
    </div>
</div>
</ng-container>