<ng-container *ngIf="products.length != 0">
<div class="card-table">
    <div class="card-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products, let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.title}}</td>
                    <td><img src="{{item.image}}" style="width: 120px;" alt=""></td>
                    <td>{{item.price}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.total}}</td>
                    <td><button (click)="removeProduct(item)" class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><button (click)="removeAllProduct()" class="btn btn-danger">Remve all items</button></td>
                    <td><button routerLink="/home" class="btn btn-warning">Shop more</button></td>
                    <td><button class="btn btn-success">Check out</button></td>
                    <td><strong>Total: ${{allProducts}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

</ng-container>

<ng-container *ngIf="products.length == 0">
<div class="container">
    <div class="card">
        <h4 class="card-title">My cart</h4>
    </div>
    <div class="center">
        <img src="" alt="">
        <h5>Cart is empty!</h5>
        <h6>Add items to your cart and it will show up here</h6>
        <button routerLink="/home" class="btn btn-primary">Shop now</button>
    </div>
</div>
</ng-container>